<p id="notice"><%= notice %></p>

<h1>People</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Rut</th>
      <th>Name</th>
      <th>Last name</th>
      <th>Age</th>
      <th>Course</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.rut %></td>
        <td><%= person.name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.age %></td>
        <td><%= person.course %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @people, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

<br>

<%= link_to 'New Person', new_person_path, class: 'btn btn-primary' %>

<br>
<br>

<h3>
  <ul>
    <li>Google Endpoints API Key <i>(use in api_key query)</i>: <b><%= gcp_token %></b></li>
    <li>User API Token <i>(use in Authorization header)</i>: <b><%= user_token %></b></li>
    <li>API V1 Path: <b><%= URI.join(url_for(only_path: false), api_v1_people_path) %></b></li>
  </ul>
</h3>

<br>
<br>

<code>
  curl -H "Content-Type: application/json" -H "Authorization: <%= user_token %>" '<%= URI.join(url_for(only_path: false), all_api_v1_people_path) %>?api_key=<%= gcp_token %>'<br/><br/>
  curl -H "Content-Type: application/json" -H "Authorization: <%= user_token %>" -d '{"rut":"RUT_VALIDO", "name":"NOMBRE", "last_name":"APELLIDO", "age":"EDAD", "course":"CURSO"}' '<%= URI.join(url_for(only_path: false), api_v1_people_path) %>?api_key=<%= gcp_token %>'<br/>
</code>
